.btn1 {
    width:114px;
    padding:12px 0;
    background:#E70013;
    position:relative;
    font-size: 10px;
    text-align: center;
    color:white;

    i {
        position:absolute;
        top: 50%;
        transform:translateY(-50%);
        right: 10px;
        font-size: 8px;
    }
}

.btn1--center {
    margin:12px auto;
}