* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body {
    height:100%;
    max-width: 500px;
    margin:0 auto;
}

#root {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
    color:inherit;
    text-decoration: inherit;
}

.--noScroll{
    overflow-y: hidden;
}