* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

html, body {
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#root {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #022B52;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

.btn1 {
  width: 114px;
  padding: 12px 0;
  background: #E70013;
  position: relative;
  font-size: 10px;
  text-align: center;
  color: white;
}

.btn1 i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  font-size: 8px;
}

.btn1--center {
  margin: 12px auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
}

.header .header__content {
  position: relative;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .content__logo img {
  max-width: 200px;
}

.header .content__backBtn {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .content__backBtn a {
  padding: 10px;
}

.header .content__burger {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  height: 24px;
  width: 31px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  cursor: pointer;
}

.header .content__burger > div {
  right: 0;
  position: absolute;
  -webkit-transition: 250ms;
  transition: 250ms;
  width: 31px;
  height: 3px;
  background-color: #e70013;
}

.header .content__burger .burger__line1 {
  top: 0;
}

.header .content__burger .burger__line2 {
  top: 10px;
  width: 25px;
}

.header .content__burger .burger__line3 {
  top: 20px;
}

.header .burger--active .burger__line1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.header .burger--active .burger__line2 {
  opacity: 0;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.header .burger--active .burger__line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -6px);
          transform: rotate(45deg) translate(-8px, -6px);
}

.header nav {
  -webkit-transition: max-height 200ms;
  transition: max-height 200ms;
  max-height: 0px;
  overflow: hidden;
  height: calc(100vh - 67px);
  font-size: 20px;
}

.header nav > ul {
  padding: 36px;
  list-style: none;
}

.header nav > ul li {
  margin-bottom: 6px;
}

.header nav > ul li > ul li {
  list-style: none;
  margin-left: 25px;
  opacity: 0.5;
}

.header--active nav {
  max-height: 100vh;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  text-align: center;
}

#loader .spinner {
  border: 5px solid #81818150;
  border-radius: 50%;
  border-top: 5px solid #0e0e0e;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.root__home {
  padding: 12px 24px;
}

.root__home > h2 {
  margin-top: 15px;
  margin-bottom: 45px;
}

.root__home .home__city {
  margin-bottom: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root__home .home__city h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.root__home .home__city img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 300px;
  margin-bottom: 15px;
}

.root__home .home__city p {
  font-size: 14px;
  margin-bottom: 21px;
}

.root__city {
  padding: 12px 24px;
}

.root__city .title {
  font-size: 20px;
  margin: 36px 0 24px 0;
}

.root__city .city__introImg {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 22px 0 44px 0;
}

.root__city .city__introImg img {
  height: 300px;
}

.root__city .city__introImg h1 {
  text-align: center;
  font-size: 20px;
  max-width: calc(100% - 40px);
  min-width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 12px;
  background: white;
}

.root__city .city__introText {
  text-align: center;
}

.root__city .city__introText h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.root__city .city__introText p {
  padding: 0 25px;
}

.root__city .categories__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}

.root__city .categories__grid > a > div {
  position: relative;
  height: 140px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center center;
}

.root__city .categories__grid > a > div > div {
  font-size: 16px;
  text-align: center;
  padding: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.root__city .city__inspiration .inspiration__item {
  margin-bottom: 30px;
}

.root__city .city__inspiration .item__imgWrap {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.root__city .city__inspiration .item__imgWrap img {
  height: 275px;
}

.root__city .city__inspiration .item__imgWrap .imgWrap__text {
  max-width: calc(100% - 40px);
  position: absolute;
  bottom: 0;
  left: 20px;
  padding: 12px;
  background: white;
}

.root__city .item__text {
  padding: 12px 0;
}

.root__post {
  padding: 12px 24px;
  overflow: hidden;
}

.root__post .post__introImg {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 22px 0 44px 0;
}

.root__post .post__introImg img {
  height: 200px;
}

.root__post .post__introImg h1 {
  text-align: center;
  font-size: 20px;
  max-width: calc(100% - 40px);
  min-width: 150px;
  position: absolute;
  bottom: 0;
  left: 20;
  padding: 8px 12px;
  background: white;
}

.root__post .post__introText {
  text-align: center;
  padding-bottom: 33px;
}

.root__post .post__mainText p {
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 18px;
  word-wrap: break-word;
}

.root__post .post__mainText a {
  color: #0000EE;
}

.root__post .post__video {
  margin-bottom: 33px;
}

.root__post .post__related .related__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.root__post .post__related .main__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  background-color: #c4c4c420;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.root__post .post__related .main__product .product__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 18px;
}

.root__post .post__related .main__product .product__txt .txt__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 8px;
}

.root__post .post__related .main__product .product__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  height: 120px;
  width: 120px;
}

.root__post .post__related .main__product .product__img img {
  max-height: 100%;
}

.root__findItem {
  padding: 25px;
}

.root__findItem .findItem__search {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.root__findItem .findItem__search .search__accBtn {
  padding-right: 25px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.root__findItem .findItem__search .search__inputCont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.root__findItem .findItem__search .search__inputCont input {
  width: 100%;
  font-size: 16px;
  padding: 6px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 24px;
}

.root__findItem .findItem__accordion {
  -webkit-transition: max-height 200ms;
  transition: max-height 200ms;
  max-height: 0px;
  overflow: hidden;
}

.root__findItem .findItem__accordion .accordion__filter .filter__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.root__findItem .findItem__accordion .accordion__filter .filter__cont > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  background-color: #CED2D3;
  font-size: 10px;
  padding: 0 3px;
  min-height: 40px;
  text-align: center;
  margin: 3px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.root__findItem .findItem__accordion .accordion__filter .filter__cont .--active {
  background-color: #E70013;
  color: white;
}

.root__findItem .findItem__accordion--active {
  max-height: 100vh;
}
/*# sourceMappingURL=style.css.map */