.root__findItem {
    padding:25px;

    .findItem__search {
        margin: 20px 0;
        display:flex;
        justify-content: space-between;

        .search__accBtn {
            padding-right: 25px;
            font-size: 24px;
            display:flex;
            align-items: center;
            text-align: center;
            opacity: 0.3;
        }

        .search__inputCont {
            flex:1;

            input {
                width:100%;
                font-size:16px;
                padding:6px 12px;
                outline:none;
                border: 2px solid rgba(0, 0, 0, 0.3);
                border-radius: 24px
            }
        }
    }

    .findItem__accordion {
        transition: 200ms;
        max-height: 0px;
        overflow:hidden;
        
        

        .accordion__filter {
            position: relative;

            h4 {
                margin: 6px 0;
                font-size: 18px;
            }

            h5 {
                font-size: 12px;
                margin: 6px 0;
            }

            .filter__resetBtn {
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0.5;
                font-size: 10px;
            }

            .filter__cont{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-between;

                >div {
                    display:flex;
                    align-items: center;
                    justify-content: center;

                    width: 30%;

                    background-color: #CED2D3;
                    font-size:10px;
                    padding:0 3px;
                    min-height: 40px;
                    text-align: center;
                    margin:3px;
                    transition: 250ms;
                }
                .--active {
                    background-color: #E70013;
                    color:white;
                }
            }
        }
    }

    .findItem__resultCont {

        .resultCont__item {
            margin-bottom: 30px;
        }

        .item__imgWrap {
            overflow: hidden;
            position:relative;
            display:flex;
            align-items: center;
            justify-content: center;

            img {
                height:275px;
            }

            .imgWrap__noImg {
                flex: 1;
                display:flex;
                justify-content: center;
                align-items: center;
                height:275px;
                padding:24px;
                background-color: rgba(0, 0, 0, 0.1);
                font-size: 20px;
            }

            .imgWrap__text {
                max-width: calc(100% - 40px);
                position:absolute;
                bottom:0;
                left:20px;
                padding:12px;
                background:white;
            }
        }
    }
    .item__text {
        padding: 12px 0;
    }

    .findItem__end {
        font-size:20px;
        padding:16px;
        text-align: center;
    }

    .findItem__accordion--active {
        max-height:100vh;
        margin-bottom: 24px;
    }
}