.root__home {
    padding:12px 24px;

    >h2 {
        margin-bottom: 30px;
    }

    .home__city {
        margin-bottom: 30px;
        overflow: hidden;
        display:flex;
        flex-direction: column;

        img {
            justify-self: center;
            align-self: center;
            height:300px;
        }
    }
}