.root__home {
    padding:12px 24px;

    >h2 {
        margin-top:15px;
        margin-bottom: 45px;
    }

    .home__city {
        margin-bottom: 30px;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        h3 {
            font-size:20px;
            margin-bottom: 8px;
        }

        img {
            justify-self: center;
            align-self: center;
            height:300px;
            margin-bottom:15px;
        }

        p {
            font-size:14px;
            margin-bottom: 21px;
        }
    }
}